.mh-100 {
  min-height: 100px;
}
 * {
  box-sizing: border-box;
}

.message {
  border: 2px;
  border-style: groove;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  width: 15%;
  height: 50px;
}

.message-field {
  display: block;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  margin: auto;
  width: 50%;
}

.message-field::placeholder {
  font-size: large;
  
}

.submit-button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.toast {
  background-color: red;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  animation: popUpToast 1s 5s forwards;
  visibility: hidden;
}

@keyframes popUpToast {
  to { visibility: visible; }
}