.mh-100 {
  min-height: 100px;
}
 * {
  box-sizing: border-box;
}

/* .container {
  position: absolute;
  width: 50%;
  margin-top: 40px;
  margin-left: auto;
  display: inline block;
} */

.envelope {
  background-image: url("../public/envelope.jpg");
  margin: auto;
  min-height: 400px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.message {
  border: 2px;
  border-style: groove;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  width: 15%;
  height: 50px;
}

.message-field {
  display: block;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  margin: auto;
  width: 50%;
}

.message-field::placeholder {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  
}

.submit-button {
  /* display: block;
  margin: auto;
  padding: 1%;
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
  font-size: large;
  margin: auto; */
  width: 200px;
  left: calc(100% - 200px / 2);
}